extends layout

include mixins/_listModal

block styles
  link(rel="stylesheet" href="poll.css")

block content
  .section#poll
    .is-narrow.div.mcenter
      h1.tcenter What should #[a(href=`http://myanimelist.net/profile/${user}` rel='oopener noreferrer' target='_blank') #{user}] watch next?
      ul
        each anime in poll.list
          li(data-animeID=anime.id)
            .columns.is-mobile
              .column.is-10 #{anime.title}
              .column.is-2.vote-count #{anime.votes}
  each anime in poll.list
    +listModal(anime)            

block scripts
  script(type="text/javascript" src="/scripts/poll.js")