extends layout

block content
  h1 Poll - #{user}
  ul
    each anime in list
      li #[a(href=`https://myanimelist.net/anime/${anime.id}/` rel='noopener noreferrer' target='_blank' title=anime.title) #{anime.title}] #{anime.votes}
      