extends layout

block styles
  link(rel="stylesheet" href="poll.css")

block content
  .section#poll
    .columns
      .column.is-narrow.div.mcenter
        .card
          header.card-header
            p.card-header-title Poll - #{user} #{pickID}
          .card-content
            .content
              ul
                each anime in poll.list
                  li #[a(href=`https://myanimelist.net/anime/${anime.id}/` rel='noopener noreferrer' target='_blank' title=anime.title) #{anime.title}] #{anime.votes}
      